# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.egg
dist/
build/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.faiss
metadata.db
/data/

# Git
.git/
.gitignore

# Gemini
.gemini/
